<div class="panel">
    <div class="panel-body">
        <ul class="nav nav-list">
            {{#each items}}
                <li data-item="{{id}}">
                    <a href="#audit_reports/{{id}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>