<div class="panel">
    <div class="panel-heading">
        <h3>Statistical Reports</h3>
        <ol class="breadcrumb">
            <li>
                <a href="/app/">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="active">Report List</li>
        </ol>
    </div>

    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#measure_frequency" data-toggle="tab">Measure Frequency</a>
            </li>
            <li>
                <a href="#sites_per_pdc" data-toggle="tab">Sites per PDC</a>
            </li>
            <li>
                <a href="#measures_per_site" data-toggle="tab">Measures per Site</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane table-responsive active" id="measure_frequency">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Measure</th>
                        <th>Times Recommended</th>
                        <th>Average Savings (kWh)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Reduce Leaks</td>
                        <td>5</td>
                        <td>12,000</td>
                    </tr>
                    <tr>
                        <td>Occupancy Sensors</td>
                        <td>7</td>
                        <td>23,000</td>
                    </tr>
                    <tr>
                        <td>Update Controls</td>
                        <td>12</td>
                        <td>9,000</td>
                    </tr>
                    <tr>
                        <td>Temperature Setback</td>
                        <td>4</td>
                        <td>14,200</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="sites_per_pdc">
                <table class="table table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>PDC</th>
                        <th>Sites/PDC</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Energy 350</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>PGE-CTS</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>RHT</td>
                        <td>9</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane table-responsive" id="measures_per_site">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Site</th>
                        <th>Measures/Sites</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Site 1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Site 2</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Site 3</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Site 4</td>
                        <td>4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>